{{> head }}
{{> navbar }}

<div class="row">
    <div class="col">
        <img src="assets/img/arbol.png" class="img-thumbnail">
    </div>
    <div class="col">
        <h1>ARBOLES BINARIOS</h1>
        <p>Un árbol binario es un tipo de árbol en que cada vértice máximo puede tener dos hijos; su nodo raíz está enlazado a dos subárboles binarios disjuntos denominados subárbol izquierdo y subárbol derecho. Los árboles binarios no son vacíos ya que como mínimo tienen el nodo raíz.</p>
    </div>

</div>

{{> footer }}   